
header {
    background-image: url("weights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 30px;
}

body {  
    background-color: #6b6868;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
}

nav ul li { 
    list-style-type: none;
    padding: 10px;
  
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #1553d8;
}

.pill {
    background-color: #201f1f;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

footer p {
    text-align: center;
    color: white;
    padding: 10px;
}

section {
    display: none;
}


#about {
    display: block;
    text-align: center;
    padding: 20px;
}

#about img{
    border-radius: 50%;
}

#contact {
    display: block;
    text-align: center;
    padding: 20px;
}

article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
article h2 {
    display: center;
    padding: 20px;
    width : 40%;
}
article p {
    padding: 20px;
    width : 40%;
}

article img {
    padding: 20px;
    width : 40%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #201f1f;
}

